* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --orange: #f89e00;
  --gradient:linear-gradient(98.37deg,#f89e00 0.99%, #da2f68 100%)
}

body{
  background-color: var(--black);
}

::-webkit-scrollbar{
  display: none;
}